@font-face {
    font-family: 'zabras';
    src: url('fonts/Zabars.ttf') format('truetype');
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/index-img/desert.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'zabras', Arial, Helvetica, sans-serif;
}

.display-none {
    display: none;
}

.loading-screen {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgb(255, 153, 1) 0%, rgba(255, 156, 0, 1) 100%);
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.3);
}

canvas {
    background-color: black;
    display: block;
}


/* Smartphone */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

/* Smartphone */
@media only screen and (max-height: 480px) {
    canvas {
        width: 100vh;
    }
}